<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/products.css" />
    <title>Taylor Galerie</title>
  </head>
  <body>
    <%- include('layouts/navbar', {categories:categories}); -%>
    <header class="header__container container" id="home">
      <div class="header__image">
        <img src="header.AVIF" alt="header" />
      </div>
      <div class="header__content">
        <div>
          <h1><%= __("index")["header"]%></h1>
          <p><%= __("index")["subheader"]%></p>
        </div>
      </div>
    </header>
    <%- include('layouts/message'); %> <%- include('layouts/footer'); -%>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      const scrollRevealOption = {
        distance: "50px",
        origin: "bottom",
        duration: "1000",
      };

      ScrollReveal().reveal(".header__image img", {
        ...scrollRevealOption,
        origin: "right",
      });
      ScrollReveal().reveal(".header__content div", {
        duration: 1000,
        delay: 500,
      });
      ScrollReveal().reveal(".header__content h1", {
        ...scrollRevealOption,
        delay: 1000,
      });
      ScrollReveal().reveal(".header__content p", {
        ...scrollRevealOption,
        delay: 1500,
      });
    </script>
  </body>
</html>
