<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta family="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taylor Galerie | <%= product.family %></title>

    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('layouts/navbar', {categories:categories}); -%>
    <div id="temporaryContent">
      <div class="detail">
        <div>
          <div class="image">
            <img
              src="<%= product.image[0]%>"
              alt="<%=product.alt_text%>"
              id="mainImage"
            />
          </div>
          <div class="imageCarousel">
            <% product.image.map((i,j) => { %>
            <img src="<%= i %>" />
            <% }) %>
          </div>
        </div>
        <div class="content">
          <div class="name"><%=product.family %></div>
          <div class="sku"><%=product.sku%></div>
          <div class="price"><%=product.price%></div>
          <div class="buttons">
            <button id="productCheckout">Checkout</button>
            <button
              class="addCart"
              data-id="<%= product.id %>,<%= product.family %>,<%= product.price %>,<%= product.image[0] %>"
            >
              Add to Cart
            </button>
          </div>
          <div class="description"><%=product.description%></div>
          <div class="info">
            <p><%=product.info%></p>
            <p><%=product.dimentions%></p>
            <p><%=product.box%></p>
          </div>
        </div>
        <div class="title">Similar Products</div>
      </div>
      <div
        class="similarProduct"
        data-prod="<%= product.id %>, <%= product.subcategory %>"
      ></div>
    </div>
    <%- include('layouts/message'); %> <%- include('layouts/footer'); -%>
  </body>
  <script type="module">
    import { setItemCart } from "/js/cart.js";
    import { getSimilar, postSingleCheckout } from "/js/helpers.js";

    const button = document.querySelector(".addCart");
    const carousel = document.querySelector(".imageCarousel");
    const image = document.getElementById("mainImage");
    const similarProduct = document.querySelector(".similarProduct");
    const prodCheckout = document.getElementById("productCheckout");

    const [id, subcategory] = similarProduct.dataset.prod.split(",");

    const data = await getSimilar(id, subcategory.trim());

    data.map((e, i) => {
      similarProduct.innerHTML += `
    <div class="item">
      <a href="/product/${e.id}">
        <img src="${e.image[0]}" alt="${e.image[1]}" onerror="this.src='${
        e.image[1]
      }'"/>
      </a>
      <div>
        <p>${e.family.toLowerCase()}</p>
        <div class="price">${e.price}</div>
        <button
          class="addCart"
          data-id="${e.id},${e.family},${e.price},${e.image[0]}"
        >
          Add To Cart
        </button>
      </div>
    </div>`;
    });

    for (var c of carousel.children) {
      c.addEventListener("click", (e) => {
        image.src = e.target.src;
      });
    }

    document.querySelectorAll(".addCart").forEach((button) => {
      button.addEventListener("click", (e) => {
        const [id, family, price, image] = e.target.dataset.id.split(",");
        setItemCart(id, family, price, image, 1);
      });
    });

    prodCheckout.addEventListener("click", async () => {
      await postSingleCheckout(id);
    });
  </script>
</html>
