<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taylor Galerie | Products</title>
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('layouts/navbar', {categories:categories}); -%>
    <div class="container">
      <div class="listProduct" id="contentTab">
        <% products.map((e, i) => { %>
        <div class="item">
          <a href="/product/<%= e.id %>">
            <img
              loading="lazy"
              src="<%= e.image[0] %>"
              alt="<%= e.image[1] %>"
              onerror="this.src='<%= e.image[1] %>';"
            />
          </a>
          <div>
            <% var name = `${e.family.toLowerCase()}
            ${e.subcategory.toLowerCase()}`%>
            <p><%= name %></p>
            <div class="price"><%= e.price %></div>
            <button
              class="addCart"
              data-id="<%= e.id %>,<%= e.family %>,<%= e.price %>,<%= e.image[0] %>"
            >
              <i class="ri-shopping-cart-line" style="font-size: medium"></i>
            </button>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include('layouts/message'); %> <%- include('layouts/footer'); -%>
  </body>
  <script type="module">
    import { setItemCart } from "/js/cart.js";

    document.querySelectorAll(".addCart").forEach((button) => {
      const image = button.parentNode.parentNode.children[0];
      image.addEventListener("mouseover", (e) => {
        var temp = e.target.src;
        e.target.src = e.target.alt;
        e.target.alt = temp;
      });

      image.addEventListener("mouseleave", (e) => {
        var temp = e.target.children[0].src;
        e.target.children[0].src = e.target.children[0].alt;
        e.target.children[0].alt = temp;
      });

      button.addEventListener("click", (e) => {
        const [id, family, price, image] = e.target.dataset.id.split(",");
        setItemCart(id, family, price, image, 1);
      });
    });
  </script>
</html>
